
<table>
<tbody >
                <tr class="gradeX" ng-repeat="user in usersP | orderBy:sort:reverse">
                    <td>{{ user.id }}</td>
                    <td>{{ user.name }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.role.name }}</td>
                    <td>{{ user.employee.salary | currency }}</td>
                    <td>
                        <a href="{{ user.url_show }}" >
                            <button type="button" class="col-sm-3 btn btn-success"><i class="fa fa-eye"></i></button>
                        </a>
                        <a href="{{ user.url_edit }}" >
                            <button  type="button" class="col-sm-3 col-sm-offset-1 btn btn-info "><i class="fa fa-refresh"></i></button>
                        </a>
                        <a data-toggle="modal" href="#myModal{{user.id}}" >
                            <button type="button" class="col-sm-3 col-sm-offset-1 btn btn-danger"><i class="fa fa-trash-o"></i></button>    
                        </a>
                    </td>
                </tr>              
            </tbody>
            </table>